{% extends 'adminside/basedashboard.html' %}
{% block title %}User_View{% endblock %}
{% load static %}
{% block dashbody %}

<h5 class="card-title fw-semibold mb-8"  style="justify-content: center;"> USER DETAILS </h5>
<div class="col-8-md-8">
    <div class="card">

        <div class="card-body">
            <table>

                <tr>
                    <td><strong>O=USER ID</strong></td>
                    <td>:{{orderview.id}}</td>
                </tr>

                <tr>
                    <td><strong>User Name</strong></td>
                    <td>{{orderview.user.first_name}}</t
                </tr>

                <tr>
                    <td><strong>USER EMAIL</strong></td>
                    <td>:${{orderview.total_price}}</td>
                </tr>
                <tr>
                    <td><strong>USER PHONE NUMBER</strong></td>
                    <td>:{{orderview.payment_mode}}</td>
                </tr>
              
          
            </table>
            <br>
        </div>
    </div>

</div>

{% endblock %}