{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% load mathfilters %}
{% block body %}
<style>
 

    @media (max-width: 800px) {
        .container-fluid.hy {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    
        .container-fluid.hy > div {
            flex: 0 0 calc(33.333% - 20px);
            margin: 10px;
        }
    
        .container-fluid.hy img {
            max-width: 85%;
            height: auto;
        }
    
        .container-fluid.hy h5.banner-title {
            font-size: 85%;
        }
    }

   
</style>
<main class="main">
    <div class="container-fluid">
        <div class="row">
            {% if banners %}
            <div class="col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="{% url 'user_category_show' 3 %}">
                        <img src="{{ banners.1.banner_image.url }}" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-subtitle text-white"><a href="{% url 'user_category_show' 3 %}">{{ banners.1.caption }}</a></h3><!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="{% url 'user_category_show' 3 %}">{{banners.1.banner}}</a></h2><!-- End .banner-title -->
                        <a href="{% url 'user_category_show' 3 %}" class="btn underline"><span>Discover Now</span></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-6 -->

            <div class="col-lg-6">
                <div class="banner banner-big banner-overlay">
                    <a href="{% url 'user_category_show' 2 %}">
                        <img src="{{ banners.0.banner_image.url }}" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-center">
                        <h3 class="banner-subtitle text-white"><a href="{% url 'user_category_show' 2 %}">{{ banners.0.caption }}</a></h3><!-- End .banner-subtitle -->
                        <h2 class="banner-title text-white"><a href="{% url 'user_category_show' 2 %}">{{ banners.0.banner }}</a></h2><!-- End .banner-title -->
                        <a href="{% url 'user_category_show' 2 %}" class="btn underline"><span>Discover Now</span></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-6 -->
        </div><!-- End .row -->

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="banner banner-overlay text-white">
                    <a href="#">
                        <img src="{% static 'home/banner-3.jpg' %}" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-right">
                        <h4 class="banner-subtitle"><a href="#">Flip Flop</a></h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title"><a href="#">Summer<br>sale -70% off</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-overlay color-grey">
                    <a href="#">
                        <img src="{% static 'home/banner-4.jpg' %}" alt="Banner">
                    </a>

                    <div class="banner-content">
                        <h4 class="banner-subtitle"><a href="#">Accessories</a></h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title"><a href="#">2019 Winter<br>up to 50% off</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn underline banner-link">Shop Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-overlay text-white">
                    <a href="#">
                        <img src="{% static 'home/banner-3.jpg' %}" alt="Banner">
                    </a>

                    <div class="banner-content banner-content-right mr">
                        <h4 class="banner-subtitle"><a href="#">New in</a></h4><!-- End .banner-subtitle -->
                        <h3 class="banner-title"><a href="#">T-SHIRT’s<br>sportswear</a></h3><!-- End .banner-title -->
                        <a href="#" class="btn underline btn-outline-white-3 banner-link">Shop Now</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-4 -->
        </div><!-- End .row -->
    </div><!-- End .container-fluid -->

    {% endif %}
    <div class="icon-boxes-container bg-transparent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12 icon-boxes">
                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-truck"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                <p>Free shipping for orders over $50</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->
                    
                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                <p>Free 100% money back guarantee</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-headphones"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                <p>Alway online feedback 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->
                </div>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

  <div class="container-fluid hy" style="display: flex; justify-content: space-between; ">
    {% for i in categories %}
      <div >
        <div style="display: inline-block;">
            <a href="{% url 'user_category_show' i.id %}">
          <img src="{{ i.categories_image.url }}" class="rounded-circlea" alt=""><br>
          <h5 class="banner-title" style="text-align: center;">{{ i.categories }}</h5></a>
        </div>
      </div>
     
    {% endfor %}
  </div>
  


    <div class="bg-light-2 pt-6 pb-6 featured">
        <div class="container-fluid">
            <div class="heading heading-center mb-3">
                <h2 class="title">FEATURED PRODUCTS</h2><!-- End .title -->

                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="featured-women-link" data-toggle="tab" href="#featured-men-tab" role="tab" aria-controls="featured-women-tab" aria-selected="true">LATEST DROPS</a>
                    </li>
                   
                </ul>
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="featured-women-tab" role="tabpanel" aria-labelledby="featured-women-link">
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":5,
                                    "nav": true
                                }
                            }
                        }'>
                        {% for c in variant_images %}
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <a href="{% url 'product_show' c.variant.product.id c.variant.id %}">
                                    <img src="{{c.image.url }} " alt="Product image" class="product-image">
                                    <img src="{{c.image.url }}" alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="" class="btn-product-icon btn-wishlist btn-expandable wish-list"  data-product_id="{{c.variant.id}}"><span>add to wishlist</span></a>
                                    <!-- <a href="" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a> -->
                                </div><!-- End .product-action-vertical -->
                                <input readonly class="mtext-104 cl3 txt-center num-product" type="hidden"
                                name="num-product" value="1" id="qty-input">
                                <div class="product-action">
                                    <input type="hidden"  value="{{ c.variant.size.id }}" id="size-input" >
                                    <a href=""  data-product_id="{{ c.variant.id }}" class="btn-product btn-cart add-to-cart-btn"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="#">{{c.variant.product.product_name}}</a></h3><!-- End .product-title -->
                                {% if c.variant.product.offer %}
                                <div class="product-price">
                                    <del style="color: brown;">${{ c.variant.product.product_price }} </del>  <span style="color:white;">--</span> <span>${{c.variant.product.product_price|sub:c.variant.product.offer.discount_amount}}</span>
                                   
                                </div><!-- End .product-price -->
                                {% else %}
                                <div class="product-price">
                                    ${{c.variant.product.product_price}}
                                </div><!-- End .product-price -->
                                {% endif %}
                                <div class="ratings-container">
                                    <div class="ratings">
                                        {% for rating in  ratings %}
                                      {% if c.variant.product.id == rating.id  %}
                                      {% if rating.avg_rating >= 4.5 %}
                                      <div class="ratings-val" style="width: 100%;"></div>
                                    {% elif rating.avg_rating >= 3.5 %}
                                      <div class="ratings-val" style="width: 80%;"></div>
                                    {% elif rating.avg_rating >= 2.5 %}
                                      <div class="ratings-val" style="width: 60%;"></div>
                                    {% elif rating.avg_rating >= 1.5 %}
                                      <div class="ratings-val" style="width: 40%;"></div>
                                    {% elif rating.avg_rating >= 0.5 %}
                                      <div class="ratings-val" style="width: 20%;"></div>
                                    {% else %}
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text"></span>
                                </div><!-- End .rating-container -->

                                <div class="product-nav product-nav-dots">
                                        <a href="#" id="colorLink{{ forloop.counter }}"><span class="sr-only"></span></a>
                                        <script>
                                            var colorCode = "{{ c.variant.color.color_code }}";
                                            var colorLink = document.getElementById("colorLink{{ forloop.counter }}");
                                            colorLink.style.background = colorCode;
                                        </script>
                                </div><!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        {% endfor %}
                <div class="tab-pane p-0 fade" id="featured-men-tab" role="tabpanel" aria-labelledby="featured-men-link">
            </div><!-- End .tab-content -->
        </div><!-- End .container-fluid -->
    </div><!-- End .bg-light-2 pt-4 pb-4 -->

    <div class="mb-6"></div><!-- End .mb-6 -->

    <div class="container-fluid">
        <div class="heading heading-center mb-3">
            <h2 class="title">NEW ARRIVALS</h2><!-- End .title -->

            <ul class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="new-women-link" data-toggle="tab" href="#new-women-tab" role="tab" aria-controls="new-women-tab" aria-selected="true">mens Clothing</a>
                </li>
                
            <div class="tab-pane p-0 fade" id="new-men-tab" role="tabpanel" aria-labelledby="new-men-link">
                <div class="products">
                    <div class="row justify-content-center">
                       
                       
                       
                        
                    </div><!-- End .row -->
                </div><!-- End .products -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="more-container text-center mt-2">
            <a href="#" class="btn btn-outline-dark-3 btn-more"><span>Load more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->

        <hr class="mt-0 mb-6">
        
        <div class="blog-posts mb-4">
            <h2 class="title text-center mb-3">From Our Blog</h2><!-- End .title text-center -->

            <div class="owl-carousel owl-simple mb-2" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "items": 3,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "520": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        }
                    }
                }'>
                <article class="entry">
                    <figure class="entry-media">
                        <a href="#">
                            <img src="{% static 'user/assets/images/demos/demo-7/blog/post-1.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Nov 22, 2018</a>, 1 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="single.html">Sed adipiscing ornare.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="single.html" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->

                <article class="entry">
                    <figure class="entry-media">
                        <a href="#">
                            <img src="{% static 'user/assets/images/demos/demo-7/blog/post-2.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Dec 12, 2018</a>, 0 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="#">Fusce lacinia arcuet nulla.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="#" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->

                <article class="entry">
                    <figure class="entry-media">
                        <a href="#">
                            <img src="{% static 'user/assets/images/demos/demo-7/blog/post-3.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Dec 19, 2018</a>, 2 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="#">Quisque volutpat mattis eros.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="#" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->

                <article class="entry">
                    <figure class="entry-media">
                        <a href="#">
                            <img src="{% static 'user/assets/images/demos/demo-7/blog/post-4.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Dec 25, 2018</a>, 3 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="#">Mauris suscipit in massa.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="#" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->
            </div><!-- End .owl-carousel -->
        </div><!-- End .blog-posts -->
    </div><!-- End .container-fluid -->

    <div class="bg-light-2 pt-7 pb-6 testimonials">
        <div class="container">
            <h2 class="title text-center mb-2">Our Customers Say</h2><!-- End .title text-center -->
            <div class="owl-carousel owl-simple owl-testimonials" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "1200": {
                            "nav": true
                        }
                    }
                }'>
                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Really great store”</p><!-- End .lead -->
                    <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br>a, ultricies in, diam. Sed arcu. ”</p>

                    <cite>
                        Charly Smith,
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Friendly Support”</p><!-- End .lead -->
                    <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque dolores magni recusandae! Doloremque quidem error eum quis similique doloribus natus qui ut ipsum.”</p>

                    <cite>
                        Damon Stone
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Free Shipping”</p><!-- End .lead -->
                    <p>“ Molestias animi illo natus ut quod neque ad accusamus praesentium fuga! Dolores odio alias sapiente odit delectus quasi, explicabo a, modi voluptatibus. Perferendis perspiciatis, voluptate, distinctio earum veritatis animi tempora eget blandit nunc tortor mollis ”</p>

                    <cite>
                        John Smith
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->
            </div><!-- End .testimonials-slider owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .bg-light pt-5 pb-5 -->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $('.add-to-cart-btn').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_qty = $('#qty-input').val();
            var add_size = $('#size-input').val();
    
            // var cart_qty = $('#pro_qty' + product_id).val();  
            console.log(product_id, add_qty,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'add_cart' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                    'add_qty': add_qty,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
    
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in cart' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>


    <script>
        $('.wish-list').click(function (e) {
            e.preventDefault();
    
            var product_id = $(this).data('product_id');
            var add_size = $('select[name="size"]').val();
    
            console.log(product_id,add_size, 'yyyyyyyyyyyyyyyyyyyyyyy1')
            $.ajax({
                method: "POST",
                url: "{% url 'add_wish_list' %}",
                data: {
    
                    'variant_id': product_id,
                    'add_size':add_size,
                 
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
    
                    console.log(response);
    
                    if (response.status === 'No such prodcut found' || response.status === 'Only few quantity available' || response.status === 'Product already in Wishlist' ) {
                        swal.fire("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'Product added successfully in Wishlist') { 
                        swal.fire("", response.status, "success");
                        $('.cartdata').load(location.href + " .cartdata");
                    } else if (response.status === 'you are not login please Login to continue') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else if (response.status === 'Sorry! this variant not available') {
                        swal.fire("", response.status, "warning");
                        $('.cartdata').load(location.href + " .cartdata");
                    } 
                    else {
                        swal("Error!", response.status, "error");
                        $('.cartdata').load(location.href + " .cartdata");
                    }
                }
            });
        });
    </script>
    <!-- Add this before the closing </body> tag of your HTML
    
    
    <!-- Add this before the closing </body> tag of your HTML -->
    <script src="https://unpkg.com/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
    
</main><!-- End .main -->

{% endblock %}