{% extends 'base.html' %}
{% block title %}My Account{% endblock %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
	.page-header {
		background-image: url('{% static "user/assets/images/page-header-bg.jpg" %}');

	}

	.addressmgt {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.d {
		
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
</style>

<body>

	<main class="main">
		<div class="page-header text-center">
			<div class="container">
				<h1 class="page-title">My Account</h1>
				<br>
				{% for message in messages %}
				<div class="message text-center {% if message.tags %}{{ message.tags }}{% endif %} " style="background-color: transparent;">
					{{ message }}
				</div>
				{% endfor %} <br>
			</div><!-- End .container -->
		</div><!-- End .page-header -->
		<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
			<div class="container">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">My Account</li>
				</ol>
			</div><!-- End .container -->
		</nav><!-- End .breadcrumb-nav -->

		<div class="page-content">
			<div class="dashboard">
				<div class="container">
					<div class="row">
						<aside class="col-md-4 col-lg-3">
							<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
										href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
										aria-selected="true">DASHBOARD</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
										role="tab" aria-controls="tab-orders" aria-selected="false">ORDERS</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
										role="tab" aria-controls="tab-downloads" aria-selected="false">WALLET</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
										role="tab" aria-controls="tab-address" aria-selected="false">ADDRESSES</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
										role="tab" aria-controls="tab-account" aria-selected="false">MY PROFILE</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{% url 'logout1' %}">SIGN OUT</a>
								</li>
							</ul>
						</aside><!-- End .col-lg-3 -->

						<div class="col-md-8 col-lg-9">
							<div class="tab-content">


								<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
									aria-labelledby="tab-dashboard-link">
									{% if user1 %}
									<h5> HELLO </h5>
									<h5 style="text-transform: uppercase;">{{ user1.first_name }}
									</h5>

									{% endif %}
									<br>

									From your account dashboard you can view your <a href="#"
										class="tab-trigger-link link-underline">recent orders</a>, manage your <a
										href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>,
									and <a href="#tab-account" class="tab-trigger-link">edit your password and account
										details</a>.</p>
								</div><!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-orders" role="tabpanel"
									aria-labelledby="tab-orders-link">
									<p>No order has been made yet.</p>
									<a href="#" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
											class="icon-long-arrow-right"></i></a>
								</div><!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-downloads" role="tabpanel"
									aria-labelledby="tab-downloads-link">
									<p>No downloads available yet.</p>
									<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
											class="icon-long-arrow-right"></i></a>
								</div><!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-address" role="tabpanel"
									aria-labelledby="tab-address-link">
									<p>The following addresses will be used on the checkout page by default.</p>
									<a href="{% url 'add_address' 1 %}" class="btn btn-outline-primary-2"><span>Add
											address</span><i class="icon-long-arrow-right"></i></a>
									{% if address %}
									<div class="row">
										{% for i in address %}
										<div class="col-lg-6">
											<div class="card card-dashboard">
												<div class="card-body">
													<tr class="summary-shipping-row">
														<td>
															<div class="d">
																<div class="custom-control custom-radio">
																	<input type="radio" id="free-shipping"
																		name="shipping" class="custom-control-input">
																	<label class="custom-control-label"
																		for="free-shipping">
																		Set Default Address
																	</label>
																</div><!-- End .custom-control -->
																<div class="tab-pane fade" id="tab-delete{{forloop.counter}}"
																	role="tabpanel" aria-labelledby="tab-delete-link">
																	<p>Are you sure delete this address.</p>
																	<a href="{% url 'delete_address' i.id %}"
																		class="btn btn-outline-primary-2"><span>Confirm</span><i
																			class="icon-long-arrow-right"></i></a>
																</div><!-- .End .tab-pane -->
															</div>
														</tr>
													</tr><!-- End .summary-shipping-row -->
													<h2 class="card-title" style="text-align: center;">ADDRESS</h2>
													<!-- End .card-title -->
													<table>
														<tr>
															<td><strong>First Name</strong></td>
															<td>:{{i.first_name}}</td>
														</tr>
														<tr>
															<td><strong>Last Name</strong></td>
															<td>:{{i.last_name}}</td>
														</tr>
														<tr>
															<td><strong>Phone Number</strong></td>
															<td>:{{i.phone}}</td>
														</tr>
														<tr>
															<td><strong>Email</strong></td>
															<td>:{{i.email}}</td>
														</tr>
														<tr>
															<td><strong>Address</strong></td>
															<td>:{{i.address}}</td>
														</tr>
													</table>
													<br>
													<div class="addressmgt">
														<p><a href="{% url 'edit_address' i.id %}">Edit<i
																	class="fas fa-edit"></i></a>

														</p>
														<p><a href="{% url 'View_address' i.id %}">View <i
																	class="fas fa-eye"></i></a>
														</p>
														<p><a id="tab-delete-link" data-toggle="tab"
																href="#tab-delete{{forloop.counter}}">Delete <i
																	class="fas fa-trash"></i></a>

														</p>
													</div>
												</div><!-- End .card-body -->

											</div><!-- End .card-dashboard -->
										</div><!-- End .col-lg-6 -->


										{% endfor %}
										{% else %}
										{% endif %}

									</div><!-- End .row -->
								</div><!-- .End .tab-pane -->

								<div class="tab-pane fade" id="tab-account" role="tabpanel"
									aria-labelledby="tab-account-link">

									<div class="col-lg-6">
										<div class="card card-dashboard">
											<div class="card-body">
												<h2 class="card-title" style="text-align: center;">PROFILE</h2>
												<!-- End .card-title -->
												<table>
													<tr>
														<td><strong>First Name</strong></td>
														<td>:{{user1.first_name}}</td>
													</tr>
													<tr>
														<td><strong>Last Name</strong></td>
														<td>:{{user1.last_name}}</td>
													</tr>
													<tr>
														<td><strong>Phone Number</strong></td>
														<td>:{{user1.phone_number}}</td>
													</tr>
													<tr>
														<td><strong>Email</strong></td>
														<td>:{{user1.email}}</td>
													</tr>
													<tr>
														<td><strong>Password</strong></td>
														<td>:********</td>
													</tr>
												</table>

												<p><a href="{% url 'edit_profile' %}">Edit <i class="fas fa-edit"></i></a>
												</p>

											</div><!-- End .card-body -->
										</div><!-- End .card-dashboard -->
									</div><!-- End .col-lg-6 -->


								</div><!-- .End .tab-pane -->

							</div>
						</div><!-- End .col-lg-9 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			</div><!-- End .dashboard -->
		</div><!-- End .page-content -->
	</main><!-- End .main -->
</body>

{% endblock %}