{% extends 'adminside/basedashboard.html' %}
{% block title %}Order{% endblock %}
{% load static %}
{% block dashbody %}
<div class="container-fluid">


    <section class="content-main">

        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <!-- <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>status</option>
                            <option>Blocked</option>
                            <option>Verified</option>
                        </select>
                    </div> -->
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">user</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Total Amount</th>
                                <th scope="col">payment mode</th>
                                <th scope="col">View Order</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in order %}
                            <tr>
                                <td><b>{{ i.id }}</td>
                                <td><b>{{ i.user.first_name }}</td>
                                <td><b>{{ i.created_at}}</td>
                                <td><b>{{ i.total_price }}</td>
                                <td><b>{{ i.payment_mode }}</td>
                                <td><a href="{% url 'order_view' i.id %}"><span
                                            class="badge rounded-pill alert-View btn btn ">View</span> </a>
                                </td>
                                <td>
                                    {% if i.order_status.order_status == 'Pending' %}
                                    <span class="badge rounded-pill alert-secondary">{{ i.order_status.order_status }}</span>
                                    {% elif i.order_status.order_status == 'Processing' %}
                                    <span class="badge rounded-pill alert-warning">{{ i.order_status.order_status }}</span>
                                    {% elif i.order_status.order_status == 'Shipped' %}
                                    <span class="badge rounded-pill alert-primary">{{ i.order_status.order_status }}</span>
                                    {% elif i.order_status.order_status == 'Delivered' %}
                                    <span class="badge rounded-pill alert-success">{{ i.order_status.order_status }}</span>
                                    {% elif i.order_status.order_status == 'Cancelled' or i.order_status.order_status == 'Return' %}
                                    <span class="badge rounded-pill alert-danger">{{ i.order_status.order_status }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
</div>

{% endblock %}